{ % load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> { % block title % }ERP JM{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-gray-100 font-sans">

    <nav class="bg-[#233b6e] text-white shadow-md">
        <div class="container mx-auto px-4 py-4 flex flex-col md_flex-row justify-between items-center space-y-4 md:space-y-0">

            <a href="{% url 'dashboard' %}" class="text-2x1 font-bold rounded-lg px-2 py-1 transition-all hover:bg-white/10">
                <img src="{% static 'img/logo.jpg' %}" alt="ERP JM" class="h-8 w-8">
                <span>ERP JM</span>
            </a>
        </div>
    </nav>
    
</body>
</html>